*{
    font-family: 'Bruno Ace';
    margin: 0%;
    padding: 0%;
}

.back-video{
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
}
.head{
    background: url('background vid.mp4');
    color: white;
    padding: 35px 80px;
}
header{
    display: flex;
    justify-content: space-between;
}
.logo{
    width: 173px;
}
.logo img{
    width:100%;
}
.nav{
    height: fit-content;
    width: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.nav-elem{
    padding-right: 20px;
    padding-left: 20px;
    border-right: 1px solid rgba(255, 255, 255 , 0.4);
}

.vid-art{
    width: 1760px;
    height: fit-content;
    margin-top: 150px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.vid-art-text{
    width: 1167px;
}
.vid-btns{
    margin-top: 37px;
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: row;
}
.vid-btn{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 207px;
    height: 55px;
    border-radius: 5px;
    padding: 18px 20px;
}
#vid-btn-1{
    border: none;
    background: linear-gradient(120deg, #ffffff calc(100% - 61px), #2b045b calc(100% - 61px));
    margin-right: 40px;
}
#vid-btn-2{
    color: white;
    border: 1px solid white;
    background: linear-gradient(120deg, rgb(0,0,0,0) calc(100% - 61px), #ffffff calc(100% - 61px));
}
.vid-btn-text{
  font-size: 16px;
  text-align: start;
}
.vid-btn-icon-1{
    width: 17px;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
}
.vid-btn-icon-2{
    width: 17px;
    height: 17px;
    color: #27005B;
}
